/* Application Template
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site. If your element doesn't show up on
 * every page, it probably shouldn't be in this file.
 * -----------------------------------------------------------------------------*/

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * /extends/            => Sass extends declarations
 * /mixins/             => Sass mixins declarations
 * _buttons.scss
 * _fonts.scss          => Font imports
 * _forms.scss
 * _lists.scss
 * _library.scss        => Custom classes used throughout the app.
 * _tables.scss
 * _typography.scss
 * _utilities.scss
 * _variables.scss
 * _component_name.scss => Styles for a component of functionality (e.g. – modal).
 * _page_name.scss      => Styles for page specific elements.
 * ---------------------------------------------------------------------------
 */

html, body {
  height: 100%;
}

body {
  padding: 0 1em;
  @include media($medium-screen) {
    padding: 2em 0 0;
  }
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -2em;
  @include outer-container;
}

.content-primary {
  text-align: left;
  @include span-columns(12);
  @include media($medium-screen) {
    text-align: left;
    @include span-columns(7);
    @include omega();
  }

  ul {
    color: darken($light-gray, 40);
    margin-left: 1.4em;
    padding: 0.2em 0 1em;
  }
}

.nav-primary {
  text-align: center;
  @include span-columns(12);
  @include media($medium-screen) {
    @include span-columns(5);
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.profile-photo {
  max-height: 250px;
  border-radius: 50%;
  @include media($medium-screen) {
  }
}

.bio {
  padding: 1em 5em;
}

.push {
  height: 4em;
}

.footer-primary {
  height: 2em;
  padding-top: 3em;
  text-align: center;
  @include media($medium-screen) {
    padding-top: 0;
  }
}
